* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "form card"
    "footer footer";
  min-height: 100vh;
  background-color: chocolate;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:chocolate;
  height: 50px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

form {
  grid-area: form;
  background-color: blanchedalmond;
  padding: 20px;
}

#output {
  grid-area: card;
  background-color: blanchedalmond;
  padding: 20px;
}

#card {
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 20px;
  display: none;
  width: 200px;
  overflow: auto;
}

#card-content h6 {
  font-size: medium;
}

#card-content h7 {
  font-size: small;
}


footer {
  grid-area: footer;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  padding: 10px;
  height: 50px;
  z-index: 1000;
}
